<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>

<title>FuelRequest</title>
</head>
<body>
 
<form action="#" th:action="@{/addfuelrequest}" name="fuelrequest" method=post>

<label>Amount</label>
<input type="text" name="amount" placeholder="Amount">
<br>
<label> Choose a station </label>
         <select name="stationId">
              <option th:each="station : ${addsta}" th:value="${station.stationId}" th:text="${station.stationName}"></option>
         </select>


<br>
 
 <input type="submit" value="send"> 
</form>

 


</body>
</html>